body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgba(50,24,128,1), rgba(200,62,44,1))
}

.cards{
	color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
